NODE_ENV=development
DOMAIN=https://meshcorepolska.org
PORT=8080

# TCP client (skrypt z tym jest closed source, ponieważ używam go wyłącznie wewnętrznie)
TCPDATA_HOST=
TCPDATA_PORT=

# Różne
DISCORD_INVITE_CODE=meshcore-poland
MAP_DOMAIN=https://mapa.meshcorepolska.org

# Poczta
MAILER_HOST=
MAILER_PORT=
MAILER_AUTH_USER=
MAILER_AUTH_PASSWD=""