NODE_ENV=development
DOMAIN=https://meshcorepolska.org
PORT=8080

# TCP client (skrypt z tym jest closed source, ponieważ używam go wyłącznie wewnętrznie)
TCPDATA_HOST=
TCPDATA_PORT=

# Różne
DISCORD_INVITE_CODE=meshcore-poland
MAP_DOMAIN=https://mapa.meshcorepolska.org

# Cloudflare Turnstile
TURNSTILE_SITE_KEY=1x00000000000000000000AA
TURNSTILE_SECRET_KEY=1x0000000000000000000000000000000AA

# Poczta
MAILER_HOST=
MAILER_PORT=
MAILER_AUTH_USER=
MAILER_AUTH_PASSWD=""